body{
    background-color: rgb(212, 230, 235);
}
.title{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: rgb(106, 167, 216);
    color: white;
}
.navbar{
    display: flex;
}
.navbarChoise{
    display: flex;
flex-direction: column;
}
.container1{
    padding: 40px;
    margin: 40px;
    height: 700px;
    width: 80%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container2{
    padding: 40px;
    margin: 40px;
    height: 700px;
    width: 500%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.navbarChoise{
    background-color: rgb(106, 167, 216);
    border: 1px solid black;
    border-radius: 1rem;
    padding: 10px;
    text-decoration: none;
    list-style: none;
    justify-content: center;
}
.navbarChoise div{
    justify-content: center;
}
.navbarChoise div a{
    justify-content: center;
    color: white;
    text-decoration: none;
    list-style: none;
}
